name: Django Github Action

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version: [3.9]

    steps:
     - uses: actions/checkout@v3
     - name: Setup Python Version ${{ matrix.python-version }}
       uses: actions/setup-python@v4.1.0
       with:
         python-version: ${{ matrix.python-version }}
     - name: Install dependencies
       run:
         python -m pip install --upgrade pip
         pip install -r requirements.txt
       - name: Running the tests
         run: 
          pytest .
      # - name: Lint with flake8
      #  run:
      #   flake8 .
     




  